<nav class="portfolioNav__list">
    <span class="portfolioNav__item is-active" data-category="all">All</span>
    <span class="portfolioNav__item" data-category="dev">Web Development</span>
    <span class="portfolioNav__item" data-category="design">Web & Graphic Design</span>
    <span class="portfolioNav__item" data-category="photography"><a href="https://500px.com/valentinvoilean" target="_blank">Photography</a></span>
</nav>

<ul class="portfolio__list">
    <li class="portfolio__item dev">
        <a href="{{ site.url }}/images/portfolio/web_development/match_meetic.jpg" data-lightbox="webdev"
           data-title="Meetic.fr / Match.co.uk - One of the worldwide leaders in dating industry, the company possesses
           web sites in 15 countries and 13 different languages for around 30 millions visitors.">
            <img src="{{ site.url }}/images/portfolio/web_development/match_meetic-min.jpg" alt="Meetic.com Match.com">
        </a>
    </li>
    <li class="portfolio__item dev">
        <a href="{{ site.url }}/images/portfolio/web_development/abcroisiere.jpg" data-lightbox="webdev"
           data-title="Abcroisiere.com - French market leader in the field of organization and sales of holidays via the
            Internet, with 72 millions page views and 7 million unique visitors every month.">
            <img src="{{ site.url }}/images/portfolio/web_development/abcroisiere-min.jpg" alt="Abcroisiere.com">
        </a>
    </li>
    <li class="portfolio__item dev">
        <a href="{{ site.url }}/images/portfolio/web_development/partirpascher.jpg" data-lightbox="webdev"
           data-title="Partirpascher.com - part of Abcroisiere.com - French market leader in the field of organization
            and sales of holidays via the Internet, with 72 millions page views and 7 million unique visitors every month.">
            <img src="{{ site.url }}/images/portfolio/web_development/partirpascher-min.jpg" alt="Partirpascher.com">
        </a>
    </li>
    <li class="portfolio__item dev">
        <a href="{{ site.url }}/images/portfolio/web_development/tumbleweedhouses.jpg" data-lightbox="webdev"
           data-title="Tumbleweedhouses.com - company specialised in the construction field, offering solutions for
            building and buying houses.">
            <img src="{{ site.url }}/images/portfolio/web_development/tumbleweedhouses-min.jpg" alt="Tumbleweedhouses">
        </a>
    </li>
    <li class="portfolio__item dev">
        <a href="{{ site.url }}/images/portfolio/web_development/tinyhouses.jpg" data-lightbox="webdev"
           data-title="Tinyhouses - part of Tumbleweedhouses.com - company specialised in the construction field,
            offering solutions for building and buying houses.">
            <img src="{{ site.url }}/images/portfolio/web_development/tinyhouses-min.jpg" alt="Tinyhouses">
        </a>
    </li>
    <li class="portfolio__item dev design">
        <a href="{{ site.url }}/images/portfolio/web_design/touristclub_homepage.jpg" data-lightbox="webdev"
           data-title="Personal website - Fully Designed & Developed by me">
            <img src="{{ site.url }}/images/portfolio/web_design/touristclub_homepage-min.jpg" alt="Tourist club">
        </a>
    </li>
    <li class="portfolio__item dev">
        <a href="{{ site.url }}/images/portfolio/web_development/twin_chefs.jpg" data-lightbox="webdev"
           data-title="Twinchefs.com offers recipes, information on ingredients and where they come from, cooking
           videos, party ideas for kids and grown ups, and tips on cooking with kids.">
            <img src="{{ site.url }}/images/portfolio/web_development/twin_chefs-min.jpg" alt="Twin chefs">
        </a>
    </li>
    <li class="portfolio__item dev">
        <a href="{{ site.url }}/images/portfolio/web_development/trialfacts.jpg" data-lightbox="webdev"
           data-title="Trialfacts provides listings of 2 types of clinical trials: Paid clinical trials and Trials of
           new medications designed for specific medical conditions.">
            <img src="{{ site.url }}/images/portfolio/web_development/trialfacts-min.jpg" alt="Trial Facts">
        </a>
    </li>

    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/web_design/4x4offroads.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/web_design/4x4offroads-min.jpg" alt="4x4offroads">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/web_design/belair_hotel.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/web_design/belair_hotel-min.jpg" alt="belair hotel">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/web_design/danesfield.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/web_design/danesfield-min.jpg" alt="danesfield">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/web_design/dentist_direct_lab.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/web_design/dentist_direct_lab-min.jpg" alt="dentis direct lab">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/web_design/eccless-admissions.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/web_design/eccless-admissions-min.jpg" alt="eccless admissions">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/web_design/online_income_secrets.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/web_design/online_income_secrets-min.jpg"
                 alt="online income secrets">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/web_design/oriel_hotels.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/web_design/oriel_hotels-min.jpg" alt="oriel hotels">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/web_design/partyping_home.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/web_design/partyping_home-min.jpg" alt="party ping home page">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/web_design/scorebig_login.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/web_design/scorebig_login-min.jpg"
                 alt="scorebig login">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/web_design/tumbleweedhouses_gallery.jpeg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/web_design/tumbleweedhouses_gallery-min.jpeg"
                 alt="tumbleweedhouses gallery">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/web_design/yogaromance.jpeg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/web_design/yogaromance-min.jpg"
                 alt="yoga romance">
        </a>
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/watchfootballnow_1.gif">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/watchfootballnow_2.gif">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/watchfootballnow_3.gif">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/watchfootballnow_4.gif">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/watchfootballnow_5.gif">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/watchfootballnow_6.gif">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/watchfootballnow_7.gif">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/watchfootballnow_8.gif">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/watchfootballnow_9.gif">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/watchfootballnow_10.gif">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/watchfootballnow_11.gif">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/tonsillectomyguide.jpg">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/tonsillectomyguide2.jpg">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/domain.jpg">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/header_home.png">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/header_home_2.png">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/slider.jpg">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/media-player.png">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/bebasic5.gif">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/bebasic2.gif">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/auto_insurance.gif">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/bebasic.gif">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/bebasic3.gif">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/auto_insurance_2.gif">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/claireklein.jpg">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/cleardebtsolution.jpg">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/darkorbit.jpg">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/darkorbit2.jpg">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/getaloan.jpg">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/getaloan2.jpg">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/idolwhite.gif">
    </li>

    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/nutrisystem.jpg">
    </li>
    <li class="portfolio__item graphic design">
        <img src="{{ site.url }}/images/portfolio/graphic_design/skinnyade.jpg">
    </li>

    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/picture_manipulation/3dbox.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/picture_manipulation/3dbox-min.jpg">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/picture_manipulation/chain.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/picture_manipulation/chain-min.jpg">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/picture_manipulation/coca_cola_drops.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/picture_manipulation/coca_cola_drops-min.jpg">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/picture_manipulation/dacia.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/picture_manipulation/dacia-min.jpg">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/picture_manipulation/diesel-geans.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/picture_manipulation/diesel-geans-min.jpg">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/picture_manipulation/extraction2.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/picture_manipulation/extraction2-min.jpg">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/picture_manipulation/lacoste.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/picture_manipulation/lacoste-min.jpg">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/picture_manipulation/levis_geans.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/picture_manipulation/levis_geans-min.jpg">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/picture_manipulation/pants.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/picture_manipulation/pants-min.jpg">
        </a>
    </li>
    <li class="portfolio__item design">
        <a href="{{ site.url }}/images/portfolio/picture_manipulation/wocam.jpg" data-lightbox="webdesign"
           data-title="Web Design">
            <img src="{{ site.url }}/images/portfolio/picture_manipulation/wocam-min.jpg">
        </a>
    </li>
</ul>